[project]
	description = JavaScript Code Style checker
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Anton Sapronov (an9eldust)
[access "refs/for/refs/*"]
	read = group user/Anton Sapronov (an9eldust)
	push = group user/Anton Sapronov (an9eldust)
	label-Code-Review = -2..+2 group user/Anton Sapronov (an9eldust)
	label-Verified = -1..+1 group user/Anton Sapronov (an9eldust)
	rebase = group user/Anton Sapronov (an9eldust)
	removeReviewer = group user/Anton Sapronov (an9eldust)
	submit = group user/Anton Sapronov (an9eldust)
[access "refs/heads/*"]
	read = group user/Anton Sapronov (an9eldust)
	create = group user/Anton Sapronov (an9eldust)
	push = +force group user/Anton Sapronov (an9eldust)
	pushMerge = group user/Anton Sapronov (an9eldust)
[access "refs/tags/*"]
	push = +force group user/Anton Sapronov (an9eldust)
	pushTag = group user/Anton Sapronov (an9eldust)
	pushSignedTag = group user/Anton Sapronov (an9eldust)
